<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.ex.mappers.UnknownReplyMapper">
	<insert id="insert">
		insert into
		comments(commentno,userno,ccontent,articleno,cdate)
		values(COMMENTS_SEQ.nextVal,#{userNo},#{cContent},#{articleNo},sysdate)
	</insert>

	<select id="listAll" resultType="unknownreply">
		select * from comments where
		articleNo=#{articleNo} order by commentNo asc
	</select>

</mapper>


