<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.ex.mappers.UnknownMapper">
	<insert id="insert">
		insert into
		article(articleNo,userNo,aContent,boardNo,aTitle,aDate,aViewCount,depth,"order","group",isDelete)
		values(ARTICLE_SEQ.nextVal,#{userNo},#{aContent},#{boardNo},#{aTitle},sysdate,0,0,1,GROUP_SEQ.nextVal,0)
	</insert>
	
	<insert id="insertComment">
		insert into
		article(articleNo,userNo,aContent,boardNo,aTitle,aDate,aViewCount,depth,"order","group",isDelete)
		values(ARTICLE_SEQ.nextVal,#{userNo},#{aContent},#{boardNo},#{aTitle},sysdate,0,#{depth}+1,#{order}+1,#{group},0)
	</insert>
	
	<update id="updateOrder">
		update article set "order"="order"+1 where "group"=#{group} and "order">#{order}
	</update>

	<select id="listAll" resultType="unknown">
		select * from article where
		boardNo=1 order by articleNo desc
	</select>

	<update id="modify">
		update article set
		aContent=#{aContent},aTitle=#{aTitle} where articleNo=#{articleNo}
	</update>
	
	<update id="deleteModify">
		update article set
		isDelete=1 where articleNo=#{articleNo}
	</update>

	<delete id="delete">
		delete from article where articleNo=#{articleNo}
	</delete>

	<select id="detail" resultType="unknown">
		select * from article where
		articleNo=#{articleNo}
	</select>

	<update id="upCount">
		update article set aViewCount=aViewCount+1 where
		articleNo=#{articleNo}
	</update>

	<select id="listSearch" resultType="unknown">
		select * from (
		select rownum rn,r.* from(
		select * from (select a.*,nvl(replyCount,0) as replyCnt from article a left outer join (select count(*) as replyCount,articleNo from comments group by articleNo) r on a.articleNo=r.articleNo) where
		boardNo=1 and
		<if test="searchType=='a'.toString()">
		acontent like '%%'
		</if>
		<if test="searchType=='t'.toString()">
		atitle like '%${keyword}%'
		</if>
		<if test="searchType=='c'.toString()">
		acontent like '%${keyword}%'
		</if>
		<if test="searchType=='tc'.toString()">
		(acontent like '%${keyword}%' or atitle like '%${keyword}%')
		</if>
		order by "group" desc, "order" asc
		) r
		<![CDATA[ 
		) where rn>#{startIndex} and rn<=#{startIndex}+#{pageSize}
		]]>
	</select>
	
	<select id="cntArticle" resultType="int">
		select nvl(count(*),0) from (select a.*,nvl(replyCount,0) as replyCnt from article a left outer join (select count(*) as replyCount,articleNo from comments group by articleNo) r on a.articleNo=r.articleNo) where
		boardNo=1 and
		<if test="searchType=='a'.toString()">
		acontent like '%%'
		</if>
		<if test="searchType=='t'.toString()">
		atitle like '%${keyword}%'
		</if>
		<if test="searchType=='c'.toString()">
		acontent like '%${keyword}%'
		</if>
		<if test="searchType=='tc'.toString()">
		(acontent like '%${keyword}%' or atitle like '%${keyword}%')
		</if>
	</select>
	
	
</mapper>


