<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.ex.ex.test.domain.UserDTO" alias="test" />
		<typeAlias type="com.ex.ex.test.domain.ArticleDTO" alias="article"/>
		<typeAlias type="com.ex.ex.unknown.domain.UnknownDTO" alias="unknown"/>
		<typeAlias type="com.ex.ex.notice.domain.NoticeDTO" alias="notice" />
		<typeAlias type="com.ex.ex.report.domain.ReportDTO" alias="report" />
		<typeAlias type="com.ex.ex.notice.domain.NoticeUserDTO" alias="noticeuser" />
	</typeAliases>
</configuration>

